* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*--------------------------
-----Navbar-----------------
--------------------------*/
.navigation {
	background-color: #e7e7e7;
}

.navigation .brand {
	font-family: "Orbitron", sans-serif;
	padding-left: 80px;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 1rem;
}

#navbarNav {
	padding-right: 80px;
}

.items li {
	font-size: 0.9rem;
	padding: 0 1.4rem;
}

.items a:hover {
	animation: fadeIn 2s;
}

.title {
	margin-bottom: 60px;
}

.content {
	margin: 0px 20px 60px 20px;
	letter-spacing: 0.1rem;
}

.mapouter {
	position: relative;
	text-align: right;
	height: 500px;
	width: 600px;
}

.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 500px;
	width: 600px;
}

.footer {
	background-color: #e7e7e7;
	text-align: center;
	padding: 40px 0;
}

@media only screen and (max-width: 992px) {
	#description {
		margin-bottom: 30px;
	}

	.mapouter {
		position: relative;
		text-align: right;
		height: 500px;
		width: auto;
	}

	.gmap_canvas {
		overflow: hidden;
		background: none !important;
		height: 500px;
		width: auto;
	}
}

@media only screen and (max-width: 650px) {
	.navigation .brand {
		padding-left: 20px;
	}

	#description {
		margin-bottom: 30px;
	}

	.mapouter {
		position: relative;
		text-align: right;
		height: 500px;
		width: auto;
	}

	.gmap_canvas {
		overflow: hidden;
		background: none !important;
		height: 500px;
		width: auto;
	}
}
