* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*--------------------------
-----Navbar-----------------
--------------------------*/
.navigation {
	background-color: #e7e7e7;
}

.navigation .brand {
	font-family: "Orbitron", sans-serif;
	padding-left: 80px;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 1rem;
}

#navbarNav {
	padding-right: 80px;
}

.items li {
	font-size: 0.9rem;
	padding: 0 1.4rem;
}

.items a:hover {
	animation: fadeIn 2s;
}

.title {
	text-align: center;
	margin: 20px 0px;
}

.list {
	text-align: start;
	list-style: none;
	margin: 0px 0px 60px 0px;
	letter-spacing: 0.1rem;
}

.icon {
	width: 30px;
	display: inline-block;
	text-align: center;
	margin-right: 10px;
	font-size: 120%;
	vertical-align: middle;
	color: rgba(81,166,21,1)
}

.list li {
	padding-bottom: 2rem;
	display: block;
}

.footer {
	background-color: #e7e7e7;
	text-align: center;
	padding: 40px 0;
}

@media only screen and (max-width: 650px) {
	.navigation .brand {
		padding-left: 20px;
	}
}
